/* .post-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    padding: 16px;
    white-space: pre-wrap;
} */

#all-posts-heading {
  text-align: center;
  background-color: rgb(229, 12, 59);
  border-radius: 50px;
  width: 250px;  
  padding: 6px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  padding: 16px;
  white-space: pre-wrap;
}

.card-view {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.row-view {
  display: block;
}