.post-row {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    outline: 3px solid transparent;
    border-radius: 15px;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;

    & p {
        margin: 0;
    }

    & h3 {
        font-weight: bold;
        font-size: 1.5em;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}

.post-row.clickable:hover {
    opacity: 0.5;
    cursor: pointer;
  }