#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

#forum-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.forum-detail {
    background-color: rgb(225, 218, 218);
    color: black;
    border-radius: 15px;
    padding: 10px 15px;
}

#forum-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
}

.forum-content-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.forum-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    width: calc(50% - 20px);
}
