.post-card {
  flex: 1 1 300px;
  max-width: 400px;
  border: 1px solid red;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  transition: opacity 0.2s ease-in-out;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.post-card.clickable:hover {
  opacity: 0.5;
  cursor: pointer;
}