#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid rgb(236, 236, 236);
    z-index: 99;

    background-image: url('/header-background.png');
    background-size: cover;
    /* background-repeat: repeat; */
}

#header a,
#header button {
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    color: black;
}

#header a:hover {
    padding: 10px 25px;
}

#header .home {
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: none;
}

#header .home:hover {
    padding: 0;
}

#header .create-post {
    display: flex;
    height: 10px;
    width: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid transparent;
    font-size: 2em;
    font-weight: lighter;
    transition: all 0.5s;
    outline: 4px solid transparent;
    animation: outlinePulse 4s ease infinite;
}

@keyframes outlinePulse {
    0% {
        outline: 4px solid transparent;
    }

    50% {
        outline: 4px solid red;
    }

    100% {
        outline: 4px solid transparent;
    }
}

#header .create-post:hover {
    border: 2px solid red;
    cursor: pointer;
}

.divider {
    height: 70px;
    align-self: center;
    border-left: 3px solid rgb(236, 236, 236);
}

.search-input {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 0.8s ease;

    padding: 10px 11px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 130px;
    max-width: 100%;
    outline: none;
}

.search-input.hidden {
    opacity: 0;
    transition: opacity 0.8s ease, visibility 0s linear 0.8s, pointer-events 0s linear 0.8s;
    visibility: hidden;
    pointer-events: none;
}


.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}