#root {
    display: flex;
    flex-direction: column;
    width: 1500px;
    justify-self: center;
    min-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin-top: 100px;
}

#main-app {
    animation: fadeIn 1s ease 0.5s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}